.footer {
  font-family: Mistral;
  background-color: #b38875;
  height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  justify-content: center;
  display: flex;
  .SocialMediaWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    .socialMediaBlock {
      p {
        margin-top: 5px;
      }
      .socialMediaIcon {
        margin-top: 30px;
        max-width: 100%;
        height: 50px;
      }
    }
  }
}
