.Feedbacks {
  background-color: #FBE4D8;
  .feedbacksBlockBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .feedBackBubble {
      position: relative;
      width: 80%;
    }
    .feedBackBubble:nth-of-type(even) {
      margin-right: 60px;
    }
    .feedBackBubble:nth-of-type(odd) {
      margin-left: 60px;
    }
    img {
      margin: 10px 10px;
      max-width: 100%;
    }
  }
}

@media (min-width: 415px) {
  .Feedbacks {
    max-width: 100%;
    padding: 0 15px;
    .feedbacksBlockBody {
      flex-direction: row;
      justify-content: space-between;
      .feedBackBubble {
        width: 23%;
      }
      .feedBackBubble:nth-of-type(even) {
        margin-right: 0px;
      }
      .feedBackBubble:nth-of-type(odd) {
        margin-left: 0px;
      }
      img {
        margin: 0;
      }
    }
  }
}