.AppWrapper {
  color: rgba($color: #000000, $alpha: 0.8);
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: Roboto;
  font-size: calc(14px + 2vmin);
  background-color: #dfccbe;
}

